/* purgecss start ignore */
@tailwind base;
@tailwind components;
body,
body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #076963;
  --color-bg-primary: #fff;
  --color-bg-toggle: #1e90ff;
}

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #15232d;
  --color-bg-toggle: #a9a9a9;
}
article a {
  color: rgb(49, 49, 182);
  text-decoration: underline;
}
body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: sans-serif;
  transition: background 0.25s ease-in-out;
}
h1 {
  color: var(--color-text-secondary);
}
/* purgecss end ignore */
@tailwind utilities;

